<section class="grid grid-cols-1 md:grid-cols-3 gap-6 mb-10">
  <div class="floating-card items-start">
    <div class="flex items-center gap-4 mb-6">
      <button class="w-12 h-12 bg-primary text-white rounded-lg flex items-center justify-center text-xl shadow-sm cursor-pointer" routerLink='/dashboard'>
        <span class="material-symbols-outlined">chart_data</span>
      </button>
      <h3 class="text-xl font-bold text-primary">Panel interactivo</h3>
    </div>
    <p class="text-sm">Explora nuestro dashboard de salud con la puedes visualizar métricas clave y analizar tendencias de salud en tiempo real</p>
  </div>
  <div class="floating-card">
    <div class="flex items-center gap-4 mb-6">
      <button class="w-12 h-12 bg-primary text-white rounded-lg flex items-center justify-center text-xl shadow-sm cursor-pointer" routerLink='/tendencias'>
        <span class="material-symbols-outlined">warning</span>
      </button>
      <h3 class="text-xl font-bold text-primary">Sistema de Alertas</h3>
    </div>
    <div class="space-y-2 text-sm text-text-muted">
      <div class="flex justify-between border-b border-surface-container-high pb-2">
        <span>Monitoreo de datos</span>
        <span class="font-medium text-text">24/7 activo</span>
      </div>
      <div class="flex justify-between border-b border-surface-container-high pb-2">
        <span>Alertas tempranas</span>
        <span class="font-medium text-text">Inmediatas</span>
      </div>
      <div class="flex justify-between pt-1">
        <span>Reportes de estado</span>
        <span class="font-medium text-text">Diarios</span>
      </div>
    </div>
  </div>
  <div class="floating-card">
    <div class="flex items-center gap-4 mb-6">
      <button class="w-12 h-12 bg-primary text-white rounded-lg flex items-center justify-center text-xl shadow-sm cursor-pointer" routerLink='/social'>
        <span class="material-symbols-outlined">share_reviews</span>
      </button>
      <h3 class="text-xl font-bold text-primary">Pulso social</h3>
    </div>
    <p class="text-2xl font-bold tracking-tight">#Trout</p>
    <p class="text-sm">Monitorea en tiempo real los temas de salud y alertas epidemiológicas más comentados en redes sociales.</p>
  </div>
</section>
